<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width = 320, initial-scale = 1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Newsletter email template - left sidebar</title>
<style type="text/css">
  
 body {
   background-color: #e2e1df;
   background-image:url(http://app.signalhq.comresources/bg.png);
   padding: 0;
   margin: 0;
   } 
  
a {
  color: #3b97ff !important;
  text-decoration: none !important;
  }
  
a:hover {
  color: #0e7fff !important;
  text-decoration: underline !important;
  }

img {
  display: block;
  }

</style>
</head>
<body style="background-color:#e2e1df;" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
    <tr>
      <td width="100%" bgcolor="#e2e1df" style="background-color: #e2e1df; background-image: url(http://app.signalhq.comresources/bg.png); background-repeat: repeat;" valign="top">

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-bottom: solid 2px #ccc;">
    <tr>
      <td height="36" valign="middle" style="background-color: #ffffff;">
        <p class="view-email" style="color: #aaaaaa; font-size: 11px; text-align:center; margin: 0; padding: 0;">
          <a style="color:#333333; font-family: arial, helvetica, sans-serif; text-decoration: underline;" href="{{view_in_browser_link}}">View email in browser</a>
        </p>
      </td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
    <tbody>
      <tr>
      <td style="width: 100%;">
        
        <table style="width: 600px; margin: 0 auto;" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="100%" valign="middle" height="94">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  	<td height="34" align="center" style="padding: 15px 0 0 0;"><img src="/web_themes/web_form_themes/1/280/resources/logo.png" style="padding: 4px;" data-signal-editable="logo-img" data-signal-description="Max-width 600px"></td>
                </tr>
                <tr>
                  	<td height="34" align="center" style="padding: 25px 0 0 0;"><div data-signal-toolbar="type" data-signal-editable="email_name"><span style="font-family: arial, helvetica, sans-serif; font-size: 48px; font-weight: bold; margin: 0; padding: 0; color: #333333; vertical-align: middle; text-align: center;">Latest News Title</span></div></td>
                </tr>
                <tr>
                	<td height="18" align="center" style="padding: 0 0 35PX 0;">- <span style="font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #333333; margin: 0; padding: 0;" data-signal-editable="date">January 30th, 2012 </span> -</td>
                </tr>
                <tr>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table style="width: 600px; margin: 0 auto; font-family: arial,helvetica,sans-serif; font-size: 13px; color: #333; line-height: 19px;" border="0" cellspacing="0" cellpadding="0" align="center" class="full">
          <tr>
            
            <td class="sidecol" width="220" valign="top" style="border-right: 1px solid #aaaaaa;" >

              <table cellpadding="0" cellspacing="0" border="0" width="100%">
            		<tr>
            		<td height="24" colspan="3">&nbsp;</td>
            		</tr>
                  <tr>
                  
		    <td width="24">&nbsp;</td> 
                    <td>


<!-- sidecol starts here -->

<!-- social -->
  
                  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family: arial,helvetica,sans-serif; font-size: 12px; color: #333; line-height: 17px;">
                  <tr>
                  <td colspan="3" width="100%" valign="top" height="24">
                   <span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0 0 12px 0; padding: 0; font-size: 16px; line-height: 19px; color: #333;" data-signal-editable="social">Find us online</span> </td></tr>
</table>


<div data-signal-editable="Sociable" data-signal-content-type="layout" class="sociable"></div>

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="color: #333; line-height: 17px;">
  <tr>
    	<td height="55"><hr color="#bbbbbb" style="border-bottom: solid 1px #fff;"></td>
  </tr>
</table>

<!-- /social -->

<!-- sidecol content -->
  <div data-signal-editable="Sidecol" data-signal-content-type="layout"></div>
<!-- /sidecol content -->
                  </td>
                  <td width="24">&nbsp;</td>
                </tr>
              </table>

            </td>
            
           
            
            <td class="maincol" valign="top" width="380" style=" border-left: solid 1px #ffffff;">
              <table cellpadding="0" cellspacing="0" border="0" style="padding: 0;">
            		<tr>
            		<td height="24" width="356" colspan="2">&nbsp;</td>
            		</tr>
                <tr>
                  <td width="24">
                  &nbsp;
                  </td>
                  <td>
	  
      
<!-- maincol -->  
	<div data-signal-editable="Maincol" data-signal-content-type="layout"></div>
<!-- /maincol -->

                  </td>
                </tr>
              </table>
                 
            </td>

          </tr>
      </table>

      <table style="width: 100%; margin: 0pt auto; font-family: arial,helvetica,sans-serif; background: #ffffff; border-top: solid 2px #ccc;" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td style="width: 100%;">
              
              <table width="600" align="center">
                <tr>
                  <td colspan="2" height="12">
                  &nbsp;
                  </td>
                </tr>
              	<tr>
              		<td width="375" valign="top">
                    <div id="footer" style="width: 375px; margin: 0 auto;">
                        
                        <p class="e-footer" style="color: #666666; font-size: 11px; margin: 0; padding: 0; line-height: 17px;">
                            <strong style="font-size: 14px;">{{account.name}}</strong><br/>
                            {{account.street_address1}}<br/>
                            {{account.city}}, {{account.state_code}} {{account.postal_code}}
                        <br/>
                        </p>
                     </div> <br/> 
                     </td>
                     <td width="225" valign="top">
                     	<span class="preference_links" style="width: 200px; margin: 0 auto; font-size: 11px; line-height: 17px;"><p style="margin: 0; padding: 0;">
                        <a style="color:#333333; font-family: arial, helvetica, sans-serif; text-decoration: underline;" href="{{update_preferences_link}}">Update Preferences</a><br /><a style="color:#333333; font-family: arial, helvetica, sans-serif; text-decoration: underline;" href="{{unsubscribe_link}}">Unsubscribe</a>
                        </p></span>
                        <br/>
                     </td>
              	</tr>
                <tr>
                  <td colspan="2" height="12">
                  &nbsp;
                  </td>
                </tr>
              </table>
              
              
            </td>
          </tr>
      </table>

      </td>
    </tr>
  </tbody>
</table>

</td>
</tr>
</table>
</body>
</html>