<!DOCTYPE html>
<html>
<head>
	<title>Maincol - two images</title>
	<meta name="layout_type" content="Maincol">
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, sans-serif;font-size: 12px; line-height: 17px; color: #8e8e8e;" class="content">
	<tr>
		<td width="25" class="split">&nbsp;</td>
		
		<td width="170" valign="top" class="split">			
			<table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, sans-serif; font-size: 12px; color: #8e8e8e; line-height: 19px;" class="content">
				<tr>
					<td width="100%" valign="top">
						<img src="resources/default-img185.png" width="170" data-signal-editable="twocol-img">
					</td>
				</tr>
			</table>
		</td>
		
		<td width="10" class="split">&nbsp;</td>
		
		<td width="170" valign="top" class="split">
			<table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, sans-serif;font-size: 12px; color: #8e8e8e; line-height: 19px;" class="content">
				<tr>
					<td width="100%" valign="top">
						<img src="resources/default-img185.png" width="170" data-signal-editable="twocol-img2">
					</td>
				</tr>
			</table>
		</td>
		
		<td width="25" class="split">&nbsp;</td>
	</tr>		
	<!-- BEGIN PADDING--><tr><td height="5" colspan="5" class="content">&nbsp;</td></tr><!-- END PADDING -->
</table>
</body>
</html>
