<!DOCTYPE html>
<html>
<head>
<title>Sidecol - headline</title>
<meta name="layout_type" content="Sidecol">
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, sans-serif;font-size: 16px; line-height: 20px; color: #ffffff;" class="content">
	<tr>
		<td width="100%" class="content">
			<div data-signal-editable="article-headline" data-signal-toolbar="type">
				<span style="font-family: arial, helvetica, sans-serif;font-size: 16px; line-height: 20px; font-weight: normal; margin: 0; padding: 0; color: #ffffff; vertical-align: middle;background-color: #4ca4bd;">Headline goes here</span>
			</div>
		</td>
	</tr>
	<!-- BEGIN PADDING--><tr><td height="5"><span style="line-height: 1px; font-size: 1px;">&nbsp;</span></td></tr><!-- END PADDING -->
</table>
</body>
</html>
