<!DOCTYPE html>
<html>
<head>
	<title>Sidecol - content block</title>
	<meta name="layout_type" content="Sidecol">
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, sans-serif;font-size: 12px; line-height: 17px; color: #ffffff;" class="content">
	<tr>
		<td width="100%" valign="top" class="content">
			<div data-signal-editable="content">
			<span style="font-family: arial, helvetica, sans-serif; font-size: 12px; color: #ffffff; line-height: 17px; margin: 0; padding: 0;background-color: #4ca4bd;">Full article text goes here.</span>
			</div>
		</td>
	</tr>
	<!-- BEGIN PADDING--><tr><td height="5">&nbsp;</td></tr><!-- END PADDING -->		
</table>
</body>
</html>
