<!DOCTYPE html>
<html>
<head>
<title>Maincol - headline</title>
<meta name="layout_type" content="Maincol">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Lucida Sans', arial, helvetica, sans-serif;font-size: 13px; line-height: 17px; color: #608c95;" class="content" width="600">
	<tr>
		<td width="100%" height="32" valign="top">
		<div data-signal-editable="article-headline" data-signal-toolbar="type">
			<span style="font-family: 'Lucida Sans', arial, helvetica, sans-serif; font-size: 20px; font-weight: normal; margin: 0; padding: 0; color: #608c95; vertical-align: middle;">Headline Goes Here</span>
		</div>
		</td>
	</tr>
	<!-- BEGIN PADDING--><tr><td height="10" width="100%">&nbsp;</td></tr><!-- END PADDING -->
	</table>
</body>
</html>
