          <!DOCTYPE html>
          <html>
            <head>
              <title>Maincol - image left</title>
              <meta name="layout_type" content="Maincol">
            </head>
            <body>
              <table cellpadding="0" cellspacing="0" border="0" style="font-family: arial, helvetica, sans-serif;font-size: 13px; line-height: 17px; color: #000;" class="content" width="600">
<!-- BEGIN PADDING--><tr><td height="10" colspan="3" width="100%">&nbsp;</td></tr>
<tr>
<td width="220" valign="top" style="padding: 6px 0 0 0;" class="img">
				<img src="resources/default-img220.png" width="220" style="border: 1px solid #959595;" data-signal-editable="maincol-img">
</td>
			<td width="25">&nbsp;</td>
			<td width="355" valign="top" class="content">
				<div data-signal-editable="main_content" data-signal-custom-styles="maincol">
					<p style="font-family: arial, helvetica, sans-serif; font-size: 13px; color: #000; line-height: 19px; margin: 0; padding: 0;">Full article text goes here.</p>
				</div>
			</td>                  
		</tr>
<!-- BEGIN PADDING--><tr><td height="10" colspan="3" width="100%">&nbsp;</td></tr>
<!-- END PADDING -->
</table>
            </body>
          </html>
