          <!DOCTYPE html>
          <html>
            <head>
              <title>Maincol - image right</title>
              <meta name="layout_type" content="Maincol">
            </head>
            <body>
              <table cellpadding="0" cellspacing="0" border="0" style="font-family: arial,helvetica,sans-serif; font-size: 13px; color: #333; line-height: 19px;" class="content">
<tr>
<td colspan="3" width="100%" height="32" valign="top">
                          <div data-signal-editable="article-headline" data-signal-toolbar="type"><span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0 0 12px; padding: 0;font-size: 16px; line-height: 24px; color: #222;">Headline goes here</span></div>
                       </td>
                       </tr>
<tr>
<td width="238" valign="top"><div data-signal-editable="main_content"><p style="font-family: arial, helvetica, sans-serif; font-size: 13px; color: #333; line-height: 19px; margin: 0; padding: 0;">Full article text goes here.</p></div></td>                  
                         <td width="12">&nbsp;</td>
                         <td width="100" valign="top" style="padding: 6px 0 0 0;"><img src="resources/the-default-img.jpg" width="90" data-signal-editable="maincol-img" style="padding: 4px; border: 1px solid #c8cdd4;"></td>
                     </tr>
<tr>
<td colspan="3" height="36">&nbsp;</td>
                      </tr>
</table>
            </body>
          </html>
