<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width = 320, initial-scale = 1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Event email template - left sidebar</title>
<style type="text/css">
  
 body {
   background: #e2e1df;
   background-image:url(/web_themes/web_form_themes/1/297/resources/bg.png);
   padding: 0;
   margin: 0;
   } 
  
a {
  color: #008ae1 !important;
  text-decoration: none !important;
  }
  
a:hover {
  color: #333333 !important;
  text-decoration: underline !important;
  }

img {
  display: block;
  }


</style>
</head>
<body style="background-color:#e2e1df;" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
  <tr>
    <td width="100%" bgcolor="#e2e1df" style="background-color: #e2e1df; background-image: url(http://app.signalhq.com/web_themes/web_form_themes/1/280/resources/bg.png); background-repeat: repeat;" valign="top">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-bottom: solid 2px #ccc;">
    <tr>
      <td height="36" valign="middle" style="background-color: #ffffff;">
        <p class="view-email" style="color: #aaaaaa; font-size: 11px; text-align:center; margin: 0; padding: 0;">
          <a style="color:#333333; font-family: arial, helvetica, sans-serif; text-decoration: underline;" href="{{view_in_browser_link}}">View email in browser</a>
        </p>
      </td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
    <tbody>
      <tr>
      <td style="width: 100%;">
        
        <table style="width: 600px; margin: 0 auto;" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="100%" valign="middle" height="94">
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  	<td height="34" align="center" style="padding: 15px 0 0 0;"><img src="/web_themes/web_form_themes/1/280/resources/logo.png" style="padding: 4px;" data-signal-editable="logo-img" data-signal-description="Max-width 600px"></td>
                </tr>
                <tr>
                  	<td height="34" align="center" style="padding: 25px 0 0 0;"><div data-signal-toolbar="type" data-signal-editable="email_name"><span style="font-family: arial, helvetica, sans-serif; font-size: 48px; font-weight: bold; margin: 0; padding: 0; color: #333333; vertical-align: middle; text-align: center;">Event Name</span></div></td>
                </tr>
                <tr>
                	<td height="18" align="center" style="padding: 0 0 35PX 0;">- <span style="font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #333333; margin: 0; padding: 0;" data-signal-editable="date">January 30th, 2012 </span> -</td>
                </tr>
                <tr>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table style="width: 600px; margin: 0 auto; font-family: arial,helvetica,sans-serif; font-size: 13px; color: #333; line-height: 19px;" border="0" cellspacing="0" cellpadding="0" align="center" class="full">
          <tr>
            <td class="sidecol" width="220" valign="top">

              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                  <td valign="top">
                    
                    
  <!-- sidecol starts here -->
                    
  <!-- sidecol content -->
                    
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td width="218" valign="top" height="28">
                          <span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0; padding: 0; font-size: 18px; line-height: 24px; color: #333;" data-signal-editable="Title">Other Events</span>
                          </td>
                        </tr>
                      <tr>
                        <td width="218" valign="top" height="15">&nbsp;</td>
                        </tr>
                      </table>
                    
                    <div data-signal-editable="Sidecol" data-signal-content-type="layout"></div>
                    
                    
                  </td>
                  <td width="24">&nbsp;</td>
                </tr>
              </table>

            </td>
            
            
            
            <td class="maincol" valign="top" width="380" align="left">
              <table cellpadding="0" cellspacing="0" border="0" style="padding: 0 0 0 14px;">
            		<tr>
            		<td height="24" width="366"><table cellpadding="0" cellspacing="0" border="0" style="font-family: arial,helvetica,sans-serif; font-size: 13px; color: #333; line-height: 19px;" class="content">
            		  <tr>
            		    <td width="365" colspan="2" align="center" valign="top" bgcolor="#FFFFFF" style="padding: 6px 0 0 0; background:#ffffff;"><img src="/web_themes/web_form_themes/1/280/resources/the-default-img.jpg" data-signal-editable="image" width="350" style="border: 4px solid #ffffff; border-bottom: none;"></td>
          		    </tr>
            		  <tr>
            		    <td width="365" valign="top" align="center" height="65" colspan="2" bgcolor="#FFFFFF"><table width="200" style="border: solid 3px #EEEEEE;" cellpadding="0" cellspacing="0">
            		      <tr>
            		        <td bgcolor="#3366ff" align="center" style="border: solid 4px #ffffff; padding: 5px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 24px; color: #FFFFFF; font-weight:bold; text-transform:uppercase;"  data-signal-editable="rsvp">RSVP by 1/16/12</span></td>
          		        </tr>
          		      </table></td>
          		    </tr>
            		  <tr>
            		    <td width="175" align="center" valign="top" bgcolor="#FFFFFF"><table width="78" height="86" border="0" cellspacing="0" cellpadding="0">
            		      <tr>
            		        <td align="center" style="padding: 0; background:url(/web_themes/web_form_themes/1/297/resources/calendar-big.png) 0 0 no-repeat #333333;"><table width="78" height="88" border="0" cellspacing="0" cellpadding="0">
            		          <tr>
            		            <td align="center" width="100" bgcolor="#333333" style="padding: 25px 0 0; background:url(http://app.signalhq.com//web_themes/web_form_themes/1/301/resources/calendar-big.png) 0 0 no-repeat #333333;"><table width="78" border="0" cellspacing="0" cellpadding="0">
            		              <tr>
            		                <td align="center" height="28" valign="middle"><span style="font-size: 18px; letter-spacing: 1px; color: #ffff66; text-transform:uppercase; line-height: 22px; display:block; width:78px; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;" data-signal-editable="datemonth">Jan</span></td>
          		                </tr>
            		              <tr>
            		                <td align="center" height="24" valign="top"><span style="font-size: 30px; font-weight: bold; color: #ffff66; display:block; width:78px; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;" data-signal-editable="dateday">03</span></td>
          		                </tr>
          		              </table></td>
          		            </tr>
          		          </table></td>
          		        </tr>
          		      </table></td>
            		    <td width="183" style="padding: 6px 0 0 0; background:#ffffff;" bgcolor="#FFFFFF" valign="top"><table cellpadding="0" cellspacing="0" border="0" width="100%">
            		      <tr>
            		        <td><div data-signal-editable="event_location" data-signal-toolbar="type"> <span style="font-family: arial, helvetica, sans-serif; margin: 0; padding: 0;font-size: 16px; line-height: 24px; color: #333;">Event Location</span> </div></td>
          		        </tr>
            		      <tr>
            		        <td><div data-signal-editable="event_address" data-signal-toolbar="type"> <span style="font-family: arial, helvetica, sans-serif; margin: 0; padding: 0;font-size: 12px; line-height: 18px; color: #333;">Event Address</span> </div></td>
          		        </tr>
          		      </table></td>
          		    </tr>
            		  <tr>
            		    <td height="45" bgcolor="#FFFFFF" align="center"><div data-signal-editable="event_calendar" data-signal-toolbar="type"> <span style="font-family: arial, helvetica, sans-serif; margin: 0; padding: 0;font-size: 12px; line-height: 24px; color: #333;">Add to Calendar</span> </div></td>
            		    <td height="45" bgcolor="#FFFFFF" align="center"><div data-signal-editable="event_map" data-signal-toolbar="type"> <span style="font-family: arial, helvetica, sans-serif; margin: 0; padding: 0;font-size: 12px; line-height: 24px; color: #333;">View on Map</span> </div></td>
          		    </tr>
            		  <tr>
            		    <td height="24" colspan="2">&nbsp;</td>
          		    </tr>
            		  <tr>
            		    <td colspan="2" valign="top" style="padding: 5px 10px;"><div data-signal-editable="event_desc" data-signal-toolbar="type"> <span style="font-family: arial, helvetica, sans-serif; margin: 0; padding: 0;font-size: 16px; line-height: 24px; color: #333;">Event description</span> </div></td>
          		    </tr>
            		  <tr>
            		    <td width="365" colspan="2" valign="top" style="padding: 5px 10px;"><div data-signal-editable="event_detail" data-signal-toolbar="type">Event details here </div></td>
          		    </tr>
            		  <tr>
            		    <td colspan="2" height="55"><hr color="#bbbbbb" style="border-bottom: solid 1px #fff;"></td>
          		    </tr>
          		  </table>
                    
                    
                    </td>
            		</tr>
                <tr>
                  <td valign="top">
                  


                  </td>
                </tr>
              </table>
                 
            </td>
            
            
          </tr>
          <tr>
          	<td colspan="2">
            <!-- social -->


            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family: arial,helvetica,sans-serif; font-size: 12px; color: #333; line-height: 17px;">
                  <tr>
        <td width="600" height="18">&nbsp;</td>
        </tr>
                  <tr>
                  <td colspan="3" width="100%" valign="top" height="28" align="center">
                   <span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0 0 12px 0; padding: 0; font-size: 18px; line-height: 24px; color: #333;" data-signal-editable="social">Find us online</span> </td>
                   </tr><tr>
                   <td colspan="3" width="100%" valign="top" height="18" align="center">&nbsp;</td>
                   </tr>
</table>


<div data-signal-editable="Sociable" data-signal-content-type="layout" class="sociable"></div>
            </td>
          </tr>
          
          
      </table>

      <table style="width: 100%; margin: 0pt auto; font-family: arial,helvetica,sans-serif; background: #ffffff; border-top: solid 2px #ccc;" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="600">
              
              <table width="600" align="center">
              	<tr>
              	  <td valign="top" height="18">&nbsp;</td>
              	  <td valign="top" height="18">&nbsp;</td>
            	  </tr>
              	<tr>
              		<td width="375" valign="top">
                    <div id="footer" style="width: 375px; margin: 0 auto;">
                        
                        <p class="e-footer" style="color: #666666; font-size: 11px;">
                            <strong style="font-size: 14px;">{{account.name}}</strong><br/>
                            {{account.street_address1}}<br/>
                            {{account.city}}, {{account.state_code}} {{account.postal_code}}
                        <br/>
                        </p>
                     </div> <br/> 
                     </td>
                     <td width="225" valign="top">
                     	<span class="preference_links" style="width: 200px; margin: 0 auto; font-size: 11px;"><p>
                        <a style="color:#333333; font-family: arial, helvetica, sans-serif; text-decoration: underline;" href="{{update_preferences_link}}">Update Preferences</a><br /><a style="color:#333333; font-family: arial, helvetica, sans-serif; text-decoration: underline;" href="{{unsubscribe_link}}">Unsubscribe</a>
                        </p></span>
                        <br/>
                     </td>
              	</tr>
              </table>
              
              
            </td>
          </tr>
      </table>

      </td>
    </tr>
  </tbody>
</table>
    </td>
  </tr>
</table>
</body>
</html>