          <!DOCTYPE html>
          <html>
            <head>
              <title>Maincol - No image</title>
              <meta name="layout_type" content="Maincol">
            </head>
            <body>
              <table cellpadding="0" cellspacing="0" border="0" class="content">
<tr>
<td width="350" valign="top">
<div data-signal-editable="headline" data-signal-toolbar="type"><span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0; padding: 0;font-size: 18px; line-height: 24px; color: #333;">Headline goes here</span></div>
</td>
</tr>
<tr>
<td width="350" height="18">&nbsp;</td>
</tr>
<tr>
<td width="350" valign="top"><div data-signal-editable="content"><p style="font-family: arial,helvetica,sans-serif; font-size: 13px; color: #333; line-height: 19px; margin: 0; padding: 0;">Full article text goes here.</p></div></td>
</tr>
<tr>
<td colspan="3" height="55"><hr color="#bbbbbb" style="border-bottom: solid 1px #fff;"></td>
</tr>
</table>
            </body>
          </html>
