          <!DOCTYPE html>
          <html>
            <head>
              <title>Sidecol - No image</title>
              <meta name="layout_type" content="Sidecol">
            </head>
            <body>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="100%" valign="top" height="28">
 <div data-signal-editable="headline" data-signal-toolbar="type"><span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0 0 12px; padding: 0;font-size: 16px; line-height: 24px; color: #333;">Headline goes here</span></div>
</td>
</tr>
<tr>
<td width="100%" valign="top"><div data-signal-editable="content"><p style="font-family: arial,helvetica,sans-serif; font-size: 12px; color: #333; line-height: 17px; padding: 0; margin: 0;">Full article text goes here.</p></div></td>
</tr>
<tr>
<td colspan="3" height="55"><hr color="#bbbbbb" style="border-bottom: solid 1px #fff;"></td>
</tr>
</table>
            </body>
          </html>
