          <!DOCTYPE html>
          <html>
            <head>
              <title>Maincol - content block</title>
              <meta name="layout_type" content="Maincol">
            </head>
            <body>
              <table cellpadding="0" cellspacing="0" border="0" style="font-family: Didot, 'Didot LT STD', 'Hoefler Text', 'Adobe Garamond Pro', 'Adobe Garamond', Palatino, 'Times New Roman', serif;font-size: 25px; line-height: 34px; color: #453b23; text-align: center;" class="content" width="600">
<!-- BEGIN PADDING--><tr><td height="5">&nbsp;</td></tr>
<!-- END PADDING --><tr>
<td width="600" valign="top" class="content">
				<div data-signal-editable="content">
				<p style="font-family: Didot, 'Didot LT STD', 'Hoefler Text', 'Adobe Garamond Pro', 'Adobe Garamond', Palatino, 'Times New Roman', serif; font-size: 25px; color: #453b23; line-height: 34px; margin: 0; padding: 0; text-align: center;">Lorsque Bonaparte et Josephine sont devenus les proprietaires du chateau de Malmaison en 1799, ils ont decide d'avoir un travail important fait pour elle. Le batiment,qui a ete construit vers 1610 et avait ete prolongee une fois en 1686 et avait deux ailes ajoutees a la cour en 1780, les a frappes comme residence d'une villa neo-classique.</p>
				</div>
			</td>
		</tr>
<!-- BEGIN PADDING--><tr><td height="5">&nbsp;</td></tr>
<!-- END PADDING -->
</table>
            </body>
          </html>
