<!DOCTYPE html>
<html>
<head>
  <title>Maincol - headline</title>
  <meta name="layout_type" content="Maincol">
</head>
<body>
  <table cellpadding="0" cellspacing="0" border="0" class="content" width="600" style="text-align: center;" align="center">
	<!-- BEGIN PADDING-->
	<tr>
		<td height="10" width="100%">&nbsp;</td>
	</tr>
	<!-- END PADDING -->
	<tr>
		<td width="100%" valign="top" align="center" style="text-align: center;">
			
			<div data-signal-editable="headline-img" data-signal-toolbar="type">					
			<img src="/web_themes/web_form_themes/4033/1296/resources/ornament1.png" width="108" height="20" /><br /><br />
			</div>

			<div data-signal-editable="article-headline" data-signal-toolbar="type">					
			<span style="font-family: Didot, 'Didot LT STD', 'Hoefler Text', 'Adobe Garamond Pro', 'Adobe Garamond', Palatino, 'Times New Roman', serif; font-size: 30px; font-weight: normal; margin: 0; padding: 0; color: #453b23; vertical-align: middle; letter-spacing: 2px;text-align: center;">NEWSLETTER</span>
			</div>
			
			<div data-signal-editable="date" data-signal-toolbar="type">
			<span style="color: #453b23; font-size: 16px; font-family: Didot, 'Didot LT STD', 'Hoefler Text', 'Adobe Garamond Pro', 'Adobe Garamond', Palatino, 'Times New Roman', serif; padding: 0; margin: 0;letter-spacing: 2px;text-align: center;">22 SEPTEMBER, 2012</span>
			</div>
		</td>
	</tr>
</table>
</body>
</html>