<!DOCTYPE html>
<html>
<head>
  <title>Maincol - image left</title>
  <meta name="layout_type" content="Maincol">
</head>
<body>
  <table cellpadding="0" cellspacing="0" border="0" class="content" width="600">
	<!-- BEGIN PADDING-->
	<tr>
		<td height="5" colspan="3" width="100%">&nbsp;</td>
	</tr>
	<!-- END PADDING -->
	<tr>
		<td width="286" valign="top">
			<img src="resources/image-med1.jpg" width="286" data-signal-editable="maincol-img">
		</td>
		<td width="25">&nbsp;</td>
		<td width="289" valign="top" class="content">
			<div data-signal-editable="main_heading">
				<img src="resources/ornament3.png" width="289" height="21" />
				<p style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;color: #453b23; font-size: 18px; line-height: 24px; margin: 0; padding: 0; text-align: center;">HEADING OF SECTION</p>
			</div>	
			<div data-signal-editable="main_content">	
				<p style="font-family: Didot, 'Didot LT STD', 'Hoefler Text', 'Adobe Garamond Pro', 'Adobe Garamond', Palatino, 'Times New Roman', serif; font-size: 17px; color: #453b23; line-height: 24px; margin: 0; padding: 0;">Full article text goes here.</p>
			</div>
		</td>                  
	</tr>
	<!-- BEGIN PADDING-->
	<tr>
		<td height="5" colspan="3" width="100%">&nbsp;</td>
	</tr>
	<!-- END PADDING -->
</table>
</body>
</html>
