          <!DOCTYPE html>
          <html>
            <head>
              <title>Sidecol - image right</title>
              <meta name="layout_type" content="Sidecol">
            </head>
            <body>
              <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family: arial,helvetica,sans-serif; font-size: 11px; color: #555; line-height: 17px;" class="content">
<tr>
<td colspan="3" width="100%" valign="top" height="28">
                      <div data-signal-editable="sidecol-headline" data-signal-toolbar="type"><span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0; padding: 0; font-size: 13px; line-height: 19px; color: #222;">Headline goes here</span></div>
                        </td>
                      </tr>
<tr>
<td width="106" valign="top"><div data-signal-editable="content"><p style="font-family: arial,helvetica,sans-serif; font-size: 11px; color: #555; line-height: 17px; margin: 0; padding: 0;">Full article text goes here.</p></div></td>
<td width="12">&nbsp;</td>
  <td width="60" style="padding-top: 3px;" valign="top" class="img"><img src="/web_themes/web_form_themes/1/255/resources/the-default-img.jpg" width="50" data-signal-editable="img" style="padding: 4px; border: 1px solid #c8cdd4; background: #ffffff;"></td>
                      </tr>
<tr>
<td colspan="3" height="36">&nbsp;</td>
                      </tr>
</table>
            </body>
          </html>
