<!DOCTYPE html>
<html>
<head>
<title>Maincol - headline</title>
<meta name="layout_type" content="Maincol">
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Lucida Sans', arial, helvetica, sans-serif;font-size: 20px; line-height: 25px; color: #71bf8e;" class="content" width="600">
	<tr>
		<td width="20">&nbsp;</td>
		<td width="560" class="content">
			<div data-signal-editable="article-headline" data-signal-toolbar="type">
				<span style="font-family: 'Lucida Sans', arial, helvetica, sans-serif;font-size: 20px; line-height: 25x; font-weight: normal; margin: 0; padding: 0; color: #71bf8e; vertical-align: middle;">Headline goes here</span>
			</div>
		</td>
		<td width="20">&nbsp;</td>
	</tr>
	<!-- BEGIN PADDING--><tr><td height="5" colspan="3">&nbsp;</td></tr><!-- END PADDING -->
</table>
</body>
</html>
