          <!DOCTYPE html>
          <html>
            <head>
              <title>Maincol - Full image</title>
              <meta name="layout_type" content="Maincol">
            </head>
            <body>
              <table cellpadding="0" cellspacing="0" border="0" style="background: #ffffff;" class="content">
<tr>
<td width="340" valign="top" style="padding: 0 0 10px 0;"><img src="resources/the-default-img.jpg" data-signal-editable="image" width="345" style="border: 5px solid #ffffff;"></td>
        </tr>
<tr>
<td width="350" valign="top" style="padding: 0 0 0 4px; font-size: 16px;"><div data-signal-editable="content"><p style="font-family: arial,helvetica,sans-serif; font-size: 16px; color: #333; line-height: 24px; margin: 0; padding: 0;">Full article text goes here.</p></div></td>
        </tr>
<tr>
<td width="350" height="18">&nbsp;</td>
        </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td width="350" valign="top" height="28">&nbsp;</td></tr></table>
            </body>
          </html>
