          <!DOCTYPE html>
          <html>
            <head>
              <title>Sidecol - Other deals</title>
              <meta name="layout_type" content="Sidecol">
            </head>
            <body>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td><img src="/web_themes/web_form_themes/1/280/resources/the-default-img.jpg" width="190" data-signal-editable="img" style="border: 5px solid #ffffff;"></td></tr>
<tr>
<td height="12" width="100%">&nbsp;</td>
</tr>
<tr>
<td colspan="3" width="100%" valign="top" height="28">
   <div data-signal-editable="headline" data-signal-toolbar="type"><span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0; padding: 0; font-size: 14px; line-height: 24px; color: #333;">50% Off</span></div>
     </td>
   </tr>
<tr>
<td valign="top"><div data-signal-editable="another-coupon"><p style="margin: 0; padding: 0; font-family: arial, helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333;">Full deal text goes here.</p></div></td>
   </tr>
<tr>
<td colspan="3" height="55"><hr color="#bbbbbb" style="border-bottom: solid 1px #fff;"></td>
   </tr>
</table>
            </body>
          </html>
