<!DOCTYPE html>
<html>
<head>
<title>Maincol - headline</title>
<meta name="layout_type" content="Maincol">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" class="content" width="600">
	<tr>
		<td width="100%" height="32" valign="top">
		
		<table cellpadding="10" cellspacing="0" border="0" style="font-family: Helvetica, Arial, sans-serif;font-size: 18px; line-height: 22px; color: #ffffff;background: #2d3a72;" bgcolor="#2d3a72">
			<tr>
				<td bgcolor="#2d3a72">
					<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td width="20">&nbsp;</td>
						<td>
							<div data-signal-editable="article-headline" data-signal-toolbar="type">
							<span style="font-family: Helvetica, Arial, sans-serif;font-size: 20px; font-weight: normal; margin: 0; padding: 0; color: #ffffff; vertical-align: middle;background: #2d3a72;">Headline Goes Here</span>
							</div>
						</td>
						<td width="20">&nbsp;</td>
					</tr>
					</table>
				</td>
			</tr>
		</table>
		
		</td>
	</tr>
	<!-- BEGIN PADDING--><tr><td height="10" width="100%">&nbsp;</td></tr><!-- END PADDING -->
	</table>
</body>
</html>
