<!DOCTYPE html>
<html>
<head>
<title>Maincol - image left</title>
<meta name="layout_type" content="Maincol">
</head>
<body>
	<!-- BEGING IMAGE LEFT -->
	<table cellpadding="0" cellspacing="0" border="0" class="content" width="100%">
		<tr>
			<td colspan="3" width="100%" height="32" valign="top">
				<div data-signal-editable="article-headline" data-signal-toolbar="type">
					<span style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; padding: 0;font-size: 20px; line-height: 25px; color: #e99400;">Headline goes here</span>
				</div>
			</td>
		</tr>
		<tr>
			<td width="130" valign="top" style="padding: 6px 0 0 0;" class="img">
				<img src="resources/default-img130.png" width="130" data-signal-editable="maincol-img">
			</td>
			<td width="25">&nbsp;</td>
			<td width="245" valign="top" class="content">
				<div data-signal-editable="main_content" data-signal-custom-styles="maincol">
					<p style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 12px; color: #333333; line-height: 17px; margin: 0; padding: 0;">Content goes here.</p>
				</div>
			</td>                  
		</tr>
	</table>
	<!-- BEGING IMAGE LEFT -->
	
	<!-- BEGIN HORZ RULE -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr><td colspan="2" height="30"></td></tr>
		<tr>
			<td><table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom: 1px solid #e99400;"><tr><td></td></tr></table></td>
			<td><table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-bottom: 1px solid #e1e1e1;"><tr><td></td></tr></table></td>
		</tr>
		<tr><td colspan="2" height="30"></td></tr>
	</table>
	<!-- END HORZ RULE -->
</body>
</html>
