          <!DOCTYPE html>
          <html>
            <head>
              <title>Social</title>
              <meta name="layout_type" content="Sociable">
            </head>
            <body>
              <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family: arial,helvetica,sans-serif; font-size: 12px; color: #666; line-height: 17px;">
<td width="30" style="" valign="middle"><img src="/web_themes/web_form_themes/1/280/resources/ico-www.png" width="30" style="padding: 4px 0 4px 0;" data-signal-editable="social-icon"></td>
              <td width="6">&nbsp;</td>
              <td width="136" valign="middle"><div data-signal-editable="social">Social Link</div></td>
            </table>
            </body>
          </html>
