<!DOCTYPE html>
<html>
<head>
<title>Maincol - headline</title>
<meta name="layout_type" content="Maincol">
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" style="font-family: Georgia, 'Times New Roman', serif;font-size: 21px; line-height: 36px; color: #280b15; " class="content" width="600">
	<!-- BEGIN PADDING--><tr><td height="25" colspan="3">&nbsp;</td></tr><!-- END PADDING -->
	<tr>
		<td width="30">&nbsp;</td>
		<td>
			<div data-signal-editable="article-headline" data-signal-toolbar="type">
				<span style="font-family: font-family: Georgia, 'Times New Roman', serif;font-size: 21px; line-height: 36px; color: #280b15;  margin: 0; padding: 0; vertical-align: middle;">Headline goes here</span>
			</div>
		</td>
		<td width="30">&nbsp;</td>
	</tr>
</table>
</body>
</html>
