<!DOCTYPE html>
<html>
<head>
	<title>Maincol - three images</title>
	<meta name="layout_type" content="Maincol">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" style="font-family: Georgia, 'Times New Roman', serif;font-size: 13px; line-height: 18px; color: #686868;" class="full" width="600">
		<!-- BEGIN PADDING--><tr><td height="25" colspan="7" class="content">&nbsp;</td></tr><!-- END PADDING -->		
		<tr>			
			<td width="180" valign="top" class="split">
				<img src="resources/default-img180.png" width="180" data-signal-editable="threecol-img">
			</td>
	
			<td width="30" class="split">&nbsp;</td>
	
			<td width="180" valign="top" class="split">
				<img src="resources/default-img180.png" width="180" data-signal-editable="threecol-img2">
			</td>
	
			<td width="30" class="split">&nbsp;</td>
	
			<td width="180" valign="top" class="split">			
				<img src="resources/default-img180.png" width="180" data-signal-editable="threecol-img3">
			</td>
						
		</tr>
	</table>
</body>
</html>
