<!DOCTYPE html>
<html>
<head>
	<title>Maincol - content block</title>
	<meta name="layout_type" content="Maincol">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" style="font-family: Georgia, 'Times New Roman', serif;font-size: 13px; line-height: 18px; color: #686868;" class="content" width="600">
		<!-- BEGIN PADDING--><tr><td height="25" colspan="3">&nbsp;</td></tr><!-- END PADDING -->		
		<tr>
			<td width="30">&nbsp;</td>
			<td width="540" valign="top" class="content">
				<div data-signal-editable="content">
				<p style="font-family: Georgia, 'Times New Roman', serif;font-size: 13px; line-height: 18px; color: #686868; margin: 0; padding: 0;">Full article text goes here.</p>
				</div>
			</td>
			<td width="30">&nbsp;</td>
		</tr>
	</table>
</body>
</html>
