<!DOCTYPE html>
<html>
<head>
<title>Maincol - no image</title>
<meta name="layout_type" content="Maincol">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" style="border-bottom: 2px solid #000000;font-family: arial, helvetica, sans-serif;font-size: 13px; line-height: 17px; color: #000;" class="content" width="600">
		<!-- BEGIN PADDING-->
		<tr><td height="20">&nbsp;</td></tr>
		<!-- END PADDING -->
		<tr>
			<td width="600" valign="top">
			<div data-signal-editable="article-headline" data-signal-toolbar="type">
				<span style="font-family: arial, helvetica, sans-serif; font-weight: bold; margin: 0 0 15px; padding: 0;font-size: 20px; line-height: 25px; color: #000;">Headline goes here</span>
				</div>
			</td>
		</tr>
		<tr>
			<td width="600" height="10">&nbsp;</td>
		</tr>
		<tr>
			<td width="600" valign="top" class="content">
				<div data-signal-editable="main_content"><p style="font-family: arial, helvetica, sans-serif; font-size: 13px; color: #000; line-height: 19px; margin: 0; padding: 0;">
					<p>Full article text goes here.</p>
				</div>
			</td>
		</tr>
		<!-- BEGIN PADDING-->
		<tr><td height="20">&nbsp;</td></tr>
		<!-- END PADDING -->
	</table>
</body>
</html>
